@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
	outline: none;
	text-decoration: none;
}

body {
	font-family: 'DM Sans', sans-serif;
	background: #f9f7f3;
}

img {
	max-width: 100%;
}

/* Helper Classes */
._flex {
	display: flex;
	align-items: center;
}
.fx_center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.fx_between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn {
	width: fit-content;
	padding: 5px 22px;
	color: #fff;
	border-radius: 28px;
	background: #222;
	@apply select-none transition-all hover:opacity-85;
}

.btn_primary {
	width: fit-content;
	padding: 6px 22px;
	color: #222;
	border-radius: 28px;
	background: #c5ff32;
	@apply mx-auto mt-4 select-none transition-all hover:opacity-85;
}

/* LAYOUT */
header {
	color: #222;
	background: #c5ff32;
	@apply py-[12px] mb-8;
}

h1 {
	font-size: 34px;
}

.textBox {
	@apply border rounded-md border-gray-400 bg-white shadow-md;
}

.textBox h5 {
	@apply p-3  px-3 border-b font-medium border-gray-400 capitalize;
}

.textBox > div {
	font-size: 14px;
	@apply py-4 px-3 text-gray-500;
}

.xCard {
	@apply text-sm border rounded-md border-gray-400 bg-white shadow-md text-center p-4;
}

.xCard img {
	margin-bottom: 8px;
}
.xCard h5 {
	@apply font-medium  capitalize;
}

/* FORM */
form .category {
	margin-bottom: 14px;
}

form .category h6 {
	border-bottom: 1px solid rgb(20, 20, 20);
	@apply py-3 mb-9 font-semibold capitalize;
}

.input-boxes {
	@apply grid md:grid-cols-2 gap-x-5;
}

.inputBox {
	@apply border rounded-md border-gray-400 bg-gray-50 shadow-md mb-5;
}

.inputBox label {
	display: block;
	@apply p-3 px-3 border-b font-medium border-gray-400 capitalize;
}

.inputBox > div {
	font-size: 14px;
	@apply p-1 py-2 text-gray-500;
}
.inputBox input,
.inputBox textarea {
	background: transparent;
}
